{% extends 'base.html.twig' %}

{% block title %}Ajout d'ingredient{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>AJOUTER DES INGREDIENTS</h1>
        
    <div class="form-add-ingredient">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        <input type="submit" class="ajout-ingredient-button" value="AJOUTER">
        {{ form_end(form) }}
    </div>

    {# <meta http-equiv="refresh" content="4; url=/ingredient"> #}
</div>
{% endblock %}
