<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cuisto Dingo{% endblock %}</title>

        {# <link rel="icon" type="image/x-icon" href="/favicon.ico" /> #}

         <link rel="stylesheet" href="/css/index.css">
        {% block stylesheets %}{% endblock %}
         
    </head>
    <body>
    {# Barre de navigation avec les onglets #}
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-link"><a href="/">Accueil</a></li>
            <li class="nav-link"><a href="/share">Recettes Partagées</a></li>
            <li class="nav-link"><a href="/recipe">Mes recettes</a></li>
            <li class="nav-link"><a href="/ingredient">Mes ingrédients</a></li>
            <li class="nav-link"><a href="/profile">Mon profil</a></li>
            <li class="nav-link"><a href="{{ path('logout') }}">Logout</a></li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
