{% extends 'base.html.twig' %}

{% block title %}Hello ShareController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# Barre de navigation avec les onglets #}
<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-link"><a href="/">Accueil</a></li>
        <li class="nav-link"><a href="/share">Recettes Partagées</a></li>
        <li class="nav-link"><a href="/recipe">Mes recettes</a></li>
        <li class="nav-link"><a href="/ingredient">Mes ingrédients</a></li>
        <li class="nav-link"><a href="/profile">Mon profil</a></li>
        <li class="nav-link"><a href="{{ path('logout') }}">Logout</a></li>
    </ul>
</nav>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/queau/OneDrive/Documents/MDS/RecipeManager/recipeManager/src/Controller/ShareController.php'|file_link(0) }}">src/Controller/ShareController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/queau/OneDrive/Documents/MDS/RecipeManager/recipeManager/templates/share/index.html.twig'|file_link(0) }}">templates/share/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
