{% extends 'base.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block body %}

<div class="contenu-login">
    <a href="{{ path('logout') }}">Logout</a>
    <h1>LOGIN PAGE</h1>
    {% if error %}
        <span class="error">{{ error.messageKey }}</span>
    {% endif %}

    <form class="form-login" action="{{ path('login') }}" method="POST">
        <label>Username : </label><br><input type="text" name="_username" class="input-username" value="{{ last_username }}" placeholder="Username here ...."><br>

        <label>Password : </label><br><input type="password" name="_password" class="input-password" placeholder="Password here ...."><br>

        <input type="submit" class="login-button" value="LOGIN">
    </form>

    <a href="/register">Register</a>

</div>
{% endblock %}
